@font-face {
  font-family: 'Gilroy Bold';
  src: url('../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Semibold';
  src: url('../assets/fonts/Gilroy-Semibold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url('../assets/fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --text-color: #000000;
  --header-color: #323232;
  --bg-color: #ffffff;
  --section2-text-color: #464646;
  --section3-text-color: #5C5C66;
  --section4-text-color: #969696;
  --discount-text-color: #BCBCBC;
  --subscribtion-text-color: #5A5A5A;
  --category-footer-text-color: #4E4E4E;
  --footer-adress-text-color: grey;
  --footer-allrightsreserved-text-color: #B7B7B7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Gilroy Medium', Arial, sans-serif;
}

header {
  display: grid;
  grid-template-rows: 49px 1fr;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.list-reset {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.text {}

.container {
  display: grid;
  grid-template-rows: 136px 1fr 632px;
  height: 1080px;
  width: 1920px;
}

.caret {
  position: relative;
  display: inline-block;
  width: 6.6px;
  height: 1px;
  margin-left: 7px;
  margin-top: -2px;
}

.caret::before,
.caret::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 5px;
  height: 100%;
  background-color: #F7B0C3;
}

.caret::before {
  left: 0;
  transform-origin: left center;
  transform: rotate(45deg);
}

.caret::after {
  right: 0;
  transform-origin: right center;
  transform: rotate(-45deg);
}

.header {}

.header__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--header-color);
  font-family: sans-serif;
}

.header__cities {
  padding: 14px 0 14px 121px;
  display: grid;
  align-items: center;
  justify-items: start;
}

.header__second-row {
  display: grid;
  grid-template-columns: 164px 1fr 1fr;
  background: gray;
  padding: 0 121px 0 121px;
}

.header__social {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
}

.header__logo {
  display: grid;
  align-items: center;
}


.header__contacts {
  display: grid;
  align-items: center;
  justify-items: end;
  padding: 8px 121px 8px 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
}

.header__contacts a {
  font-family: 'Gilroy Bold', Arial, sans-serif;
  font-size: 1.375rem;
  color: var(--bg-color);
  -webkit-text-stroke: 1.4px#000000;
}

.change-city__open {
  font-family: 'Gilroy Medium', Arial, sans-serif;
  font-size: 0.875rem;
  border: none;
  background-color: transparent;
  color: #FFFFFF;
}

.change-city {
  position: relative;
}

.cities {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.social li {}

.nav__menu {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  column-gap: 25px;
}

.nav__menu>div:nth-child(1) img {
  width: 24px;
  height: 24px;
}

.menu {}

.menu__link {
  align-items: center;
  font-size: 1.125rem;

  color: var(--text-color)
}

.submenu {
  display: none;
}

#modal {
  position: absolute;
  top: 136px;

  padding: 32px 121px 0 121px;
}
